/* 清除浮动 */
.clearfix:after,
.clearfix:before {
    content: "";
    display: table;
}
.clearfix:after {
    clear: both;
}

/* 字体图标 */
@font-face {
    font-family: "iconfont";
    src: url("../fonts/iconfont.eot");
    src: url("../fonts/iconfont.ttf") format("truetype"),url("../fonts/iconfont.svg#iconfont") format("svg")
}

.c-glyphicon {
    position: relative;
    display: inline-block;
    font-size: .14rem;
    font-family: "iconfont";
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    color: #8fdd90;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

.c-glyphicon-feed:before {
    content: "\e834"
}

.c-glyphicon-searchfine:before {
    content: "\e83a";
    font-size: .2rem;
    color: #b0b0b0
}

.c-glyphicon-recorder:before {
    content: "\e83b";
    font-size: .2rem;
    color: #b0b0b0
}

.c-glyphicon-search:before {
    content: "\e600";
    font-size: .12rem
}

.c-glyphicon-close:before {
    content: "\e607";
    color: #c9c9c9
}

.c-glyphicon-menu:before {
    content: "\e823";
    font-size: .2rem;
    color: #000
}

.c-glyphicon-arrowRight:before {
    color: #999;
    content: "\e835"
}

.c-glyphicon-arrowLeft {
    -webkit-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    -o-transform: rotate(-180deg);
    transform: rotate(-180deg)
}

.c-glyphicon-arrowLeft:before {
    color: #666;
    content: "\e835"
}

.c-glyphicon-arrowDown {
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg)
}

.c-glyphicon-arrowDown:before {
    color: #666;
    content: "\e835"
}

.c-glyphicon-more:before {
    content: "\e833"
}

.c-glyphicon-refresh:before {
    content: "\e83c"
}

.c-glyphicon-arrowUp:before {
    color: #fff;
    content: "\e60c"
}

.c-glyphicon-guideClose:before {
    content: "\e608"
}

.c-glyphicon-orderOK:before {
    content: "\e83d"
}

.c-glyphicon-orderHint:before {
    content: "\e83e"
}

.c-glyphicon-searchhome:before {
    content: "\e845";
    color: #fff
}

.c-glyphicon-explain:before {
    content: "\e846";
    color: #fff
}

.c-glyphicon-fullscreen:before {
    content: "\e612";
    color: #fff;
    font-size: .18rem
}

.c-glyphicon-checkboxed:before {
    content: "\e622"
}

.c-glyphicon-checkbox:before {
    content: "\e626"
}

.c-glyphicon-cellphone:before {
    content: "\e861";
    color: #999
}

.c-glyphicon-computer:before {
    content: "\e862";
    color: #999
}

.c-glyphicon-television:before {
    content: "\e863";
    color: #999
}

.c-glyphicon-jia:before {
    content: "\e864";
    color: #21bd22
}

.c-glyphicon-warn:before {
    content: "\e630";
    color: #ff724b
}

.c-glyphicon-iqy:before {
    content: "\e7fb";
    color: #fff
}

.c-glyphicon-albumPlay:before {
    content: "\e865";
    color: #20bc22;
    font-size: .16rem
}

.c-glyphicon-tennis:before {
    content: "\e85e";
    color: #1d3900;
    font-size: .16rem
}

.c-glyphicon-add:before {
    content: "\e864";
    color: #fff;
    font-size: .12rem
}

.c-glyphicon-edit:before {
    content: "\e86e"
}

.c-glyphicon-hot:before {
    content: "\e86f";
    color: #ff6b31
}

.c-glyphicon-album-Bplay:before {
    content: "\e879";
    color: #fff
}

.c-glyphicon-album-Splay:before {
    content: "\e87a";
    color: #fff
}

.c-glyphicon-messages:before {
    content: "\e87f";
    color: #fff
}

.c-glyphicon-playRefresh:before {
    content: "\e881"
}

.c-glyphicon-playShare:before {
    content: "\e882"
}

.c-glyphicon-time:before {
    content: "\e634"
}

.c-glyphicon-roundArrow:before {
    content: "\e606";
    color: #0abe06;
    font-weight: bold
}

.c-glyphicon-ellipsis:before {
    content: "\e85d"
}

.c-glyphicon-tryPlay:before {
    content: "\e85b"
}

.c-glyphicon-play:before {
    content: "\e879";
    color: #999
}

.c-glyphicon-morevideo:before {
    content: "\e9bb"
}

.c-glyphicon-refreshnew:before {
    content: "\e9bc"
}

.c-glyphicon-hearthollow:before {
    content: "\e62d"
}

.c-glyphicon-heart:before {
    content: "\e62e"
}

.c-glyphicon-votedown:before {
    content: "\e7e6"
}

.c-glyphicon-voteup:before {
    content: "\e7e9"
}

.c-glyphicon-fw-arrow:before {
    content: "\e847"
}

.c-glyphicon-menuList:before {
    content: "\e9bf"
}

.c-glyphicon-searchnavigation:before {
    content: "\e9c0"
}

.c-glyphicon-person-arrow:before {
    content: "\e9d9"
}
