.header-top {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 0.44rem;
  background-color: #191919;
}
.header-top > a {
  position: absolute;
  top: 0.1rem;
  left: 0.12rem;
  display: block;
  width: 0.73rem;
  height: 0.24rem;
}
.header-top > a img {
  width: 100%;
}
.header-top .right {
  float: right;
  height: 100%;
}
.header-top .header-recorder {
  float: left;
}
.header-top .header-recorder a {
  padding: 0.1rem 0.06rem;
}
.header-top .header-recorder a:before {
  font-size: 0.24rem;
}
.header-top .header-login {
  float: left;
  padding: 0 0.09rem;
}
.header-top .header-login a {
  line-height: 0.44rem;
  color: #b0b0b0;
  font-size: 0.13rem;
}
.header-top .header-app {
  float: left;
  padding: 0.12rem 0.12rem 0;
}
.header-top .header-app a {
  display: block;
  width: 0.6rem;
  height: 0.2rem;
  background-image: url(../images/app.png);
  background-size: 0.6rem 0.2rem;
}
.header-nav {
  position: fixed;
  left: 0;
  top: 0.44rem;
  z-index: 10;
  width: 100%;
  border-bottom: 1px solid #e6e6e6;
  background-color: #fafafa;
}
.header-nav .list {
  width: 90%;
  /* 禁止文本换行 */
  white-space: nowrap;
  /* 裁剪内容 - 提供滚动机制 */
  overflow-x: scroll;
}
.header-nav ul {
  box-sizing: border-box;
  height: 0.4rem;
}
.header-nav ul li {
  display: inline-block;
  line-height: 0.4rem;
  padding: 0 0.12rem;
}
.header-nav ul a {
  color: #333;
  font-size: 0.17rem;
}
.header-nav .select a {
  position: relative;
  font-weight: 700;
  color: #0bbe06;
}
.header-nav .select a:after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -0.12rem;
  width: 0.12rem;
  height: 0.03rem;
  margin-left: -0.06rem;
  background-color: #0bbe06;
}
.header-nav .header-nav-linkmore {
  position: absolute;
  top: 0;
  right: 0;
  width: 0.4rem;
  height: 0.4rem;
  border-bottom: 1px solid #e6e6e6;
}
.header-nav .header-nav-linkmore a {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  background-color: #fafafa;
}
.header-nav .header-nav-linkmore a i {
  display: block;
  width: 100%;
  height: 100%;
  background-image: url(../images/menu-more-icon.png);
  background-position: 0 0;
  background-size: 200% 100%;
}
.header-nav .header-nav-linkmore a i:after {
  content: "";
  position: absolute;
  left: -0.06rem;
  top: 0;
  width: 0.06rem;
  height: 100%;
  background-image: url(../images/nav-linebg.png);
  background-size: 0.06rem 0.4rem;
}
.footer {
  text-align: center;
  padding: 0.15rem 0;
}
.footer img {
  width: 1rem;
}
