.search {
  position: fixed;
  top: 0.84rem;
  left: 0;
  z-index: 8;
  width: 100%;
  height: 0.42rem;
  padding: 0.065rem 0.12rem;
  box-sizing: border-box;
  background-color: #f6f6f6;
}
.search .input {
  position: relative;
  width: 3.5rem;
  height: 0.27rem;
  border: 1px solid #20bc22;
  border-radius: 0.135rem;
  text-align: center;
  background-color: #fff;
}
.search .input span {
  display: block;
  line-height: 0.27rem;
  color: #666;
  font-size: 0.13rem;
  padding: 0 0.1rem;
  margin-right: 0.54rem;
  height: 100%;
  box-sizing: border-box;
  overflow: hidden;
}
.search .input i {
  position: absolute;
  top: 0;
  right: -1px;
  display: block;
  width: 0.54rem;
  height: 0.27rem;
  background-color: #29c82a;
  border-radius: 0 0.135rem 0.135rem 0;
  font-size: 0.16rem;
  line-height: 0.27rem;
}
.app {
  width: 100%;
  padding-top: 1.26rem;
  background-color: #f7f7f7;
}
.app .ad {
  display: block;
  width: 100%;
  height: 0.82rem;
  padding: 0.15rem;
  box-sizing: border-box;
  background-color: #fff;
}
.app .ad img {
  width: 100%;
}
.box-title {
  width: 100%;
  height: 0.5rem;
}
.box-title a {
  display: block;
  position: relative;
  width: 100%;
  box-sizing: border-box;
  padding: 0 0.12rem;
  color: #333;
  background-color: #fff;
}
.box-title a h3 {
  font-size: 0.15rem;
  line-height: 0.5rem;
  padding-left: 0.28rem;
}
.box-title a i {
  position: absolute;
  top: 0.12rem;
  left: 0.1rem;
  width: 0.24rem;
  height: 0.24rem;
  background-image: url(../images/channel-icon.png);
  background-size: 1.44rem 1.44rem;
}
.box-content {
  position: relative;
  width: 100%;
  background-color: #fff;
}
.box-content h3 {
  margin-bottom: 0;
}
.box-list > li {
  width: 100%;
  background-color: #fff;
}
.box-list a {
  position: relative;
  display: block;
  width: 100%;
  font-size: 0.12rem;
  line-height: 0.26rem;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: #333;
}
.box-list a:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 0.4rem;
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}
.box-list .c-lt {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
  color: #fff;
  padding: 0 0.12rem;
}
.box-list .c-rt {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 3;
  color: #fff;
}
.box-list .c-rt i {
  display: block;
  width: 0.4rem;
  height: 0.2rem;
}
.box-list .c-lb {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 3;
  color: #fff;
  padding: 0 0.12rem;
}
.box-list .c-rb {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 3;
  color: #fff;
  padding: 0 0.12rem;
}
.box-list .c-lrb {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  color: #fff;
  padding: 0 0.12rem;
}
.box-list .title {
  width: 100%;
  padding: 0.08rem 0.12rem;
  padding-right: 0;
  box-sizing: border-box;
  background-color: #fff;
}
.box-list .title h3 {
  font-size: 0.14rem;
  font-weight: 400;
  margin-bottom: 0.06rem;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.box-list .title p {
  font-size: 0.12rem;
  color: #999;
  padding-bottom: 0.08rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.c-icon-vip {
  background-image: url(../images/picicon-bg.png);
  background-size: 1.7rem 1.6rem;
  background-position: -0.4rem 0;
}
.c-icon-self {
  background-image: url(../images/picicon-bg.png);
  background-size: 1.7rem 1.6rem;
  background-position: -0.8rem 0;
}
.c-icon-onlyPlay {
  background-image: url(../images/picicon-bg.png);
  background-size: 1.7rem 1.6rem;
  background-position: 0 0;
}
.c-icon-Pay {
  background-image: url(../images/picicon-bg.png);
  background-size: 1.7rem 1.6rem;
  background-position: -0.8rem -0.2rem;
}
.c-icon-zt {
  background-image: url(../images/picicon-bg.png);
  background-size: 1.7rem 1.6rem;
  background-position: 0 -0.2rem;
}
.box-more-1 {
  width: 100%;
  text-align: center;
  border-bottom: 1px solid #f7f7f7;
}
.box-more-1 div {
  width: 100%;
  height: 0.5rem;
}
.box-more-1 a {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
  line-height: 0.5rem;
  font-size: 0.14rem;
  color: #0bbe06;
}
.box-more-1 a i {
  padding-right: 0.08rem;
}
.box-more-2 {
  width: 100%;
  text-align: center;
  border-bottom: 1px solid #f7f7f7;
}
.box-more-2:after,
.box-more-2:before {
  content: "";
  display: table;
}
.box-more-2:after {
  clear: both;
}
.box-more-2 div {
  float: left;
  width: 50%;
  height: 0.5rem;
}
.box-more-2 a {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
  line-height: 0.5rem;
  font-size: 0.14rem;
  color: #0bbe06;
}
.box-more-2 a i {
  padding-right: 0.08rem;
}
.carousel {
  width: 100%;
  height: 1.82rem;
  background-color: #fff;
  padding: 0.1rem 0;
  overflow: hidden;
}
.carousel ul {
  position: relative;
  width: 100%;
  height: 100%;
  font-size: 0;
  white-space: nowrap;
  background-color: #fff;
}
.carousel ul li {
  display: inline-block;
  width: 88%;
  height: 100%;
  transform: scale(0.9);
  position: absolute;
  transition-duration: 400ms;
  visibility: visible;
}
.carousel ul .box-list-1 {
  transform: translateX(0.22rem) scale(1.04);
}
.carousel ul .box-list-1 a {
  background-image: url(../upload/carousel_1.jpg);
}
.carousel ul .box-list-2 {
  transform: translateX(3.625rem) scale(0.98);
}
.carousel ul .box-list-2 a {
  background-image: url(../upload/carousel_2.jpg);
}
.carousel ul .box-list-3 {
  transform: translateX(6.925rem) scale(0.98);
}
.carousel ul .box-list-3 a {
  background-image: url(../upload/carousel_3.jpg);
}
.carousel ul .box-list-4 {
  transform: translateX(-6.475rem) scale(0.98);
}
.carousel ul .box-list-4 a {
  background-image: url(../upload/carousel_4.jpg);
}
.carousel ul .box-list-5 {
  transform: translateX(-3.175rem) scale(0.98);
}
.carousel ul .box-list-5 a {
  background-image: url(../upload/carousel_5.jpg);
}
.carousel a {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 0.05rem;
}
.carousel a:after {
  content: "";
  border-radius: 0.05rem;
}
.pic {
  width: 100%;
  background-color: #fff;
  border-bottom: 1px solid #f7f7f7;
}
.pic li {
  display: inline-block;
  width: 49.5%;
  vertical-align: top;
}
.pic li a {
  height: 1.04rem;
}
.pic li:nth-child(1) a {
  background-image: url(../upload/pic-list_1.jpg);
}
.pic li:nth-child(2) a {
  background-image: url(../upload/pic-list_2.jpg);
}
.pic li:nth-child(3) a {
  background-image: url(../upload/pic-list_3.jpg);
}
.pic li:nth-child(4) a {
  background-image: url(../upload/pic-list_4.jpg);
}
.infor-content {
  width: 100%;
  background-color: #fff;
  border-bottom: 1px solid #f7f7f7;
}
.infor-content li {
  display: inline-block;
  width: 49.5%;
  vertical-align: top;
}
.infor-content li a {
  height: 1.04rem;
}
.infor-content .box-title i {
  background-position: 0 0;
}
.infor-content > a {
  display: block;
  position: relative;
  padding: 0 0.2rem 0.16rem 0.38rem;
  color: #333;
}
.infor-content > a:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0.08rem;
  width: 0.24rem;
  height: 0.24rem;
  background-image: url(../images/channel-icon.png);
  background-size: 1.44rem 1.44rem;
  background-position: -0.5rem -1rem;
}
.infor-content li:nth-child(1) a {
  background-image: url(../upload/infor_1.jpg);
}
.infor-content li:nth-child(2) a {
  background-image: url(../upload/infor_2.jpg);
}
.tvplay {
  width: 100%;
  background-color: #fff;
  border-bottom: 1px solid #f7f7f7;
}
.tvplay li {
  display: inline-block;
  width: 32.7%;
  vertical-align: top;
}
.tvplay li a {
  height: 1.65rem;
}
.tvplay .box-title i {
  background-position: -0.24rem 0;
}
.tvplay li:nth-child(1) a {
  background-image: url(../upload/tvplay_1.webp);
}
.tvplay li:nth-child(2) a {
  background-image: url(../upload/tvplay_2.webp);
}
.tvplay li:nth-child(3) a {
  background-image: url(../upload/tvplay_3.webp);
}
.tvplay li:nth-child(4) a {
  background-image: url(../upload/tvplay_4.webp);
}
.tvplay li:nth-child(5) a {
  background-image: url(../upload/tvplay_5.webp);
}
.tvplay li:nth-child(6) a {
  background-image: url(../upload/tvplay_6.webp);
}
.film {
  width: 100%;
  background-color: #fff;
  border-bottom: 1px solid #f7f7f7;
}
.film li {
  display: inline-block;
  width: 32.7%;
  vertical-align: top;
}
.film li a {
  height: 1.65rem;
}
.film .box-title i {
  background-position: -0.48rem 0;
}
.film li .c-rb {
  color: #ff6e0d;
}
.film li:nth-child(1) a {
  background-image: url(../upload/film_1.webp);
}
.film li:nth-child(2) a {
  background-image: url(../upload/film_2.webp);
}
.film li:nth-child(3) a {
  background-image: url(../upload/film_3.webp);
}
.film li:nth-child(4) a {
  background-image: url(../upload/film_4.webp);
}
.film li:nth-child(5) a {
  background-image: url(../upload/film_5.webp);
}
.film li:nth-child(6) a {
  background-image: url(../upload/film_6.webp);
}
.comic {
  width: 100%;
  background-color: #fff;
  border-bottom: 1px solid #f7f7f7;
}
.comic li {
  display: inline-block;
  width: 32.7%;
  vertical-align: top;
}
.comic li a {
  height: 1.65rem;
}
.comic .box-title i {
  background-position: -0.72rem 0;
}
.comic li:nth-child(1) a {
  background-image: url(../upload/comic_1.webp);
}
.comic li:nth-child(2) a {
  background-image: url(../upload/comic_2.webp);
}
.comic li:nth-child(3) a {
  background-image: url(../upload/comic_3.webp);
}
.comic li:nth-child(4) a {
  background-image: url(../upload/comic_4.webp);
}
.comic li:nth-child(5) a {
  background-image: url(../upload/comic_5.webp);
}
.comic li:nth-child(6) a {
  background-image: url(../upload/comic_6.webp);
}
.variety {
  width: 100%;
  background-color: #fff;
  border-bottom: 1px solid #f7f7f7;
}
.variety li {
  display: inline-block;
  width: 49.5%;
  vertical-align: top;
}
.variety li a {
  height: 1.04rem;
}
.variety .box-title i {
  background-position: -0.96rem 0;
}
.variety li:nth-child(1) a {
  background-image: url(../upload/variety_1.jpg);
}
.variety li:nth-child(2) a {
  background-image: url(../upload/variety_2.jpg);
}
.variety li:nth-child(3) a {
  background-image: url(../upload/variety_3.webp);
}
.variety li:nth-child(4) a {
  background-image: url(../upload/variety_4.webp);
}
.variety li:nth-child(5) a {
  background-image: url(../upload/variety_5.jpg);
}
.variety li:nth-child(6) a {
  background-image: url(../upload/variety_6.jpg);
}
.happy {
  width: 100%;
  background-color: #fff;
  border-bottom: 1px solid #f7f7f7;
}
.happy li {
  display: inline-block;
  width: 49.5%;
  vertical-align: top;
}
.happy li a {
  height: 1.04rem;
}
.happy .box-title i {
  background-position: -1.2rem 0;
}
.happy li:nth-child(1) a {
  background-image: url(../upload/happy_1.gif);
}
.happy li:nth-child(2) a {
  background-image: url(../upload/happy_2.png);
}
.happy li:nth-child(3) a {
  background-image: url(../upload/happy_3.png);
}
.happy li:nth-child(4) a {
  background-image: url(../upload/happy_4.png);
}
.live {
  width: 100%;
  background-color: #fff;
  border-bottom: 1px solid #f7f7f7;
}
.live li {
  display: inline-block;
  width: 32.7%;
  vertical-align: top;
}
.live li a {
  height: 1.65rem;
}
.live .box-title i {
  background-position: -0.96rem -0.96rem;
}
.live li:nth-child(1) a {
  background-image: url(../upload/live_1.jpg);
}
.live li:nth-child(2) a {
  background-image: url(../upload/live_2.jpg);
}
.live li:nth-child(3) a {
  background-image: url(../upload/live_3.jpg);
}
.original {
  width: 100%;
  background-color: #fff;
  border-bottom: 1px solid #f7f7f7;
}
.original li {
  display: inline-block;
  width: 49.5%;
  vertical-align: top;
}
.original li a {
  height: 1.04rem;
}
.original .box-title i {
  background-position: 0 -0.24rem;
}
.original li:nth-child(1) a {
  background-image: url(../upload/original_1.jpg);
}
.original li:nth-child(2) a {
  background-image: url(../upload/original_2.webp);
}
.original li:nth-child(3) a {
  background-image: url(../upload/original_3.jpg);
}
.original li:nth-child(4) a {
  background-image: url(../upload/original_4.webp);
}
.original li:nth-child(5) a {
  background-image: url(../upload/original_5.jpg);
}
.original li:nth-child(6) a {
  background-image: url(../upload/original_6.webp);
}
.nadou {
  width: 100%;
  background-color: #fff;
  border-bottom: 1px solid #f7f7f7;
}
.nadou li {
  display: inline-block;
  width: 49.5%;
  vertical-align: top;
}
.nadou li a {
  height: 1.04rem;
}
.nadou .box-title i {
  background-position: 0 -0.24rem;
}
.nadou li:nth-child(1) a {
  background-image: url(../upload/nadou_1.jpg);
}
.nadou li:nth-child(2) a {
  background-image: url(../upload/nadou_2.webp);
}
.game {
  width: 100%;
  background-color: #fff;
  border-bottom: 1px solid #f7f7f7;
}
.game li {
  display: inline-block;
  width: 49.5%;
  vertical-align: top;
}
.game li a {
  height: 1.04rem;
}
.game .box-title i {
  background-position: 0 -0.24rem;
}
.game li:nth-child(1) a {
  background-image: url(../upload/game_1.jpg);
}
.game li:nth-child(2) a {
  background-image: url(../upload/game_2.webp);
}
.game li:nth-child(3) a {
  background-image: url(../upload/game_3.webp);
}
.game li:nth-child(4) a {
  background-image: url(../upload/game_4.webp);
}
.children {
  width: 100%;
  background-color: #fff;
  border-bottom: 1px solid #f7f7f7;
}
.children li {
  display: inline-block;
  width: 49.5%;
  vertical-align: top;
}
.children li a {
  height: 1.04rem;
}
.children .box-title {
  position: relative;
}
.children .box-title i {
  background-position: -0.72rem -0.24rem;
}
.children .box-title .c-glyphicon-arrowRight {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  text-align: right;
  font-size: 0.14rem;
  color: #999;
  line-height: 0.5rem;
  background-color: rgba(0, 0, 0, 0);
  padding-right: 0.24rem;
}
.children .box-title .c-glyphicon-arrowRight:before {
  position: absolute;
  top: 0;
  right: 0.06rem;
}
.children li:nth-child(1) a {
  background-image: url(../upload/children_1.webp);
}
.children li:nth-child(2) a {
  background-image: url(../upload/children_2.webp);
}
.children li:nth-child(3) a {
  background-image: url(../upload/children_3.webp);
}
.children li:nth-child(4) a {
  background-image: url(../upload/children_4.webp);
}
.baby {
  width: 100%;
  background-color: #fff;
  border-bottom: 1px solid #f7f7f7;
}
.baby li {
  display: inline-block;
  width: 49.5%;
  vertical-align: top;
}
.baby li a {
  height: 1.04rem;
}
.baby .box-title i {
  background-position: -0.96rem -0.24rem;
}
.baby li:nth-child(1) a {
  background-image: url(../upload/baby_1.webp);
}
.baby li:nth-child(2) a {
  background-image: url(../upload/baby_2.webp);
}
.baby li:nth-child(3) a {
  background-image: url(../upload/baby_3.webp);
}
.baby li:nth-child(4) a {
  background-image: url(../upload/baby_4.webp);
}
.teach {
  width: 100%;
  background-color: #fff;
  border-bottom: 1px solid #f7f7f7;
}
.teach li {
  display: inline-block;
  width: 49.5%;
  vertical-align: top;
}
.teach li a {
  height: 1.04rem;
}
.teach .box-title i {
  background-position: -1.2rem -0.24rem;
}
.teach li:nth-child(1) a {
  background-image: url(../upload/teach_1.jpg);
}
.teach li:nth-child(2) a {
  background-image: url(../upload/teach_2.webp);
}
.teach li:nth-child(3) a {
  background-image: url(../upload/teach_3.webp);
}
.teach li:nth-child(4) a {
  background-image: url(../upload/teach_4.webp);
}
.record {
  width: 100%;
  background-color: #fff;
  border-bottom: 1px solid #f7f7f7;
}
.record li {
  display: inline-block;
  width: 32.7%;
  vertical-align: top;
}
.record li a {
  height: 1.65rem;
}
.record .box-title i {
  background-position: 0 -0.48rem;
}
.record li:nth-child(1) a {
  background-image: url(../upload/record_1.webp);
}
.record li:nth-child(2) a {
  background-image: url(../upload/record_2.webp);
}
.record li:nth-child(3) a {
  background-image: url(../upload/record_3.jpg);
}
.record li:nth-child(4) a {
  background-image: url(../upload/record_4.webp);
}
.record li:nth-child(5) a {
  background-image: url(../upload/record_5.webp);
}
.record li:nth-child(6) a {
  background-image: url(../upload/record_6.webp);
}
.life {
  width: 100%;
  background-color: #fff;
  border-bottom: 1px solid #f7f7f7;
}
.life li {
  display: inline-block;
  width: 49.5%;
  vertical-align: top;
}
.life li a {
  height: 1.04rem;
}
.life .box-title i {
  background-position: -0.24rem -0.48rem;
}
.life li:nth-child(1) a {
  background-image: url(../upload/life_1.webp);
}
.life li:nth-child(2) a {
  background-image: url(../upload/life_2.jpg);
}
.life li:nth-child(3) a {
  background-image: url(../upload/life_3.jpg);
}
.life li:nth-child(4) a {
  background-image: url(../upload/life_4.webp);
}
.health {
  width: 100%;
  background-color: #fff;
  border-bottom: 1px solid #f7f7f7;
}
.health li {
  display: inline-block;
  width: 49.5%;
  vertical-align: top;
}
.health li a {
  height: 1.04rem;
}
.health .box-title i {
  background-position: -0.48rem -0.48rem;
}
.health li:nth-child(1) a {
  background-image: url(../upload/health_1.jpg);
}
.health li:nth-child(2) a {
  background-image: url(../upload/health_2.jpg);
}
.health li:nth-child(3) a {
  background-image: url(../upload/health_3.jpg);
}
.health li:nth-child(4) a {
  background-image: url(../upload/health_4.jpg);
}
.sports {
  width: 100%;
  background-color: #fff;
  border-bottom: 1px solid #f7f7f7;
}
.sports li {
  display: inline-block;
  width: 49.5%;
  vertical-align: top;
}
.sports li a {
  height: 1.04rem;
}
.sports .box-title i {
  background-position: -0.72rem -0.48rem;
}
.sports li:nth-child(1) a {
  background-image: url(../upload/sports_1.jpg);
}
.sports li:nth-child(2) a {
  background-image: url(../upload/sports_2.jpg);
}
.sports li:nth-child(3) a {
  background-image: url(../upload/sports_3.jpg);
}
.sports li:nth-child(4) a {
  background-image: url(../upload/sports_4.jpg);
}
.vogue {
  width: 100%;
  background-color: #fff;
  border-bottom: 1px solid #f7f7f7;
}
.vogue li {
  display: inline-block;
  width: 49.5%;
  vertical-align: top;
}
.vogue li a {
  height: 1.04rem;
}
.vogue .box-title i {
  background-position: -0.96rem -0.48rem;
}
.vogue li:nth-child(1) a {
  background-image: url(../upload/vogue_1.webp);
}
.vogue li:nth-child(2) a {
  background-image: url(../upload/vogue_2.webp);
}
.vogue li:nth-child(3) a {
  background-image: url(../upload/vogue_3.webp);
}
.vogue li:nth-child(4) a {
  background-image: url(../upload/vogue_4.webp);
}
.funny {
  width: 100%;
  background-color: #fff;
  border-bottom: 1px solid #f7f7f7;
}
.funny li {
  display: inline-block;
  width: 49.5%;
  vertical-align: top;
}
.funny li a {
  height: 1.04rem;
}
.funny .box-title i {
  background-position: -1.2rem -0.48rem;
}
.funny li:nth-child(1) a {
  background-image: url(../upload/funny_1.jpg);
}
.funny li:nth-child(2) a {
  background-image: url(../upload/funny_2.webp);
}
.funny li:nth-child(3) a {
  background-image: url(../upload/funny_3.jpg);
}
.funny li:nth-child(4) a {
  background-image: url(../upload/funny_4.jpg);
}
.vflower {
  width: 100%;
  background-color: #fff;
  border-bottom: 1px solid #f7f7f7;
}
.vflower li {
  display: inline-block;
  width: 49.5%;
  vertical-align: top;
}
.vflower li a {
  height: 1.04rem;
}
.vflower .box-title i {
  background-position: 0 -0.72rem;
}
.vflower li:nth-child(1) a {
  background-image: url(../upload/vflower_1.webp);
}
.vflower li:nth-child(2) a {
  background-image: url(../upload/vflower_2.webp);
}
.music {
  width: 100%;
  background-color: #fff;
  border-bottom: 1px solid #f7f7f7;
}
.music li {
  display: inline-block;
  width: 49.5%;
  vertical-align: top;
}
.music li a {
  height: 1.04rem;
}
.music .box-title i {
  background-position: -0.24rem -0.72rem;
}
.music li:nth-child(1) a {
  background-image: url(../upload/music_1.jpg);
}
.music li:nth-child(2) a {
  background-image: url(../upload/music_2.jpg);
}
.tour {
  width: 100%;
  background-color: #fff;
  border-bottom: 1px solid #f7f7f7;
}
.tour li {
  display: inline-block;
  width: 49.5%;
  vertical-align: top;
}
.tour li a {
  height: 1.04rem;
}
.tour .box-title i {
  background-position: -0.48rem -0.72rem;
}
.tour li:nth-child(1) a {
  background-image: url(../upload/tour_1.webp);
}
.tour li:nth-child(2) a {
  background-image: url(../upload/tour_2.webp);
}
.military {
  width: 100%;
  background-color: #fff;
  border-bottom: 1px solid #f7f7f7;
}
.military li {
  display: inline-block;
  width: 49.5%;
  vertical-align: top;
}
.military li a {
  height: 1.04rem;
}
.military .box-title i {
  background-position: -0.72rem -0.72rem;
}
.military li:nth-child(1) a {
  background-image: url(../upload/military_1.jpg);
}
.military li:nth-child(2) a {
  background-image: url(../upload/military_2.jpg);
}
.finance {
  width: 100%;
  background-color: #fff;
  border-bottom: 1px solid #f7f7f7;
}
.finance li {
  display: inline-block;
  width: 49.5%;
  vertical-align: top;
}
.finance li a {
  height: 1.04rem;
}
.finance .box-title i {
  background-position: -0.96rem -0.72rem;
}
.finance li:nth-child(1) a {
  background-image: url(../upload/finance_1.webp);
}
.finance li:nth-child(2) a {
  background-image: url(../upload/finance_2.webp);
}
.car {
  width: 100%;
  background-color: #fff;
  border-bottom: 1px solid #f7f7f7;
}
.car li {
  display: inline-block;
  width: 49.5%;
  vertical-align: top;
}
.car li a {
  height: 1.04rem;
}
.car .box-title i {
  background-position: -1.2rem -0.72rem;
}
.car li:nth-child(1) a {
  background-image: url(../upload/car_1.webp);
}
.car li:nth-child(2) a {
  background-image: url(../upload/car_2.webp);
}
.technology {
  width: 100%;
  background-color: #fff;
  border-bottom: 1px solid #f7f7f7;
}
.technology li {
  display: inline-block;
  width: 49.5%;
  vertical-align: top;
}
.technology li a {
  height: 1.04rem;
}
.technology .box-title i {
  background-position: 0 -0.96rem;
}
.technology li:nth-child(1) a {
  background-image: url(../upload/technology_1.webp);
}
.technology li:nth-child(2) a {
  background-image: url(../upload/technology_2.webp);
}
.reclist {
  width: 100%;
  background-color: #fff;
}
.reclist .box-title i {
  background-position: -0.24rem -0.96rem;
}
.reclist ul {
  display: flex;
  padding: 0 0.12rem 0.05rem;
  text-align: center;
}
.reclist li {
  flex: 1;
  padding: 0.05rem;
}
.reclist img {
  width: 100%;
  margin-bottom: 0.1rem;
}
.reclist h3 {
  font-size: 0.14rem;
  font-weight: 400;
}
.footer {
  text-align: center;
  padding: 0.15rem 0;
  background-color: #fff;
}
.footer img {
  width: 1rem;
}
.top {
  position: fixed;
  right: 0.06rem;
  bottom: 0.8rem;
  display: block;
  width: 0.45rem;
  height: 0.45rem;
  border-radius: 50%;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.5);
  text-align: center;
  z-index: 10;
}
.top i {
  font-size: 0.18rem;
  font-weight: 700;
  padding-top: 0.06rem;
}
.top span {
  display: block;
  font-size: 0.12rem;
}
